<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Lornoir</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
        <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' %>
    </head>

    <body>
        <main role="main">
        <div class="jumbotron">
            <div class="container">
            <h1 class="display-3">À propos de nous</h1>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
            <div class="col-md-4">
                <h2>Notre entreprise</h2>
                <p>Importateur et créateur lapidaire de gemmes, Lornoir est un service de vente en ligne de pierres précieuses et de gemmes de collection. Spécialisé dans le commerce des pierres précieuses et des gemmes.</p>
                <p>La rubrique des gemmes permet aussi de disposer du service de l&apos;atelier taillerie lapidaire qui se chargera de rendre vos pierres précieuses et fines cassées et abîmées comme au premier jour par un travail de taille et de polissage.</p>
            </div>
            <div class="col-md-4">
                <h2>Notre équipe</h2>
                <p>Lornoir s&apos;entoure de professionnels compétents dans les secteurs environnant son métier de précision l&apos;accompagnant dans les diverses créations qui ont contribué jusqu&apos;à ses dernières années au succès de l&apos;entreprise.</p>
                <p>La vitrine d’un professionnel des pierres précieuses et des gemmes est une réponse sur mesure pour l&apos;artisanat et les particuliers.</p>
            </div>
            <div class="col-md-4">
                <h2>Informations</h2>
                <p>Adresse : 37 Boulevard de la Tour-Maubourg, 75007 Paris</p>
            </div>
            </div>
        </div>
        </main>
    </body>
</html>